.main_chat
  .main_header
    %h2.main_header_groupname
      = @group.name
      .main_header_username_box
        .main_header_usernamelist
          Member:
          - @group.users.each do |user|
            .main_header_usernamelist_name
              = user.name
    .main_header_edit-btn 
      =link_to edit_group_path(@group) do
        = "Edit"
  .messages
    =render @messages 
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message_typing', placeholder: 'type a message'
      .new_message_box
        = f.label :image, class: 'new_message_box_image' do
          = icon('far', 'image', class: 'new_message_box_icon')
          = f.file_field :image, class: 'new_message_box_image_file'
      = f.submit 'Send', class: 'submit-btn'