.main_chat
  .main_header
    %h2.main_header_groupname 
      techcamp
      .main_header_username_box
        .main_header_usernamelist Member:
        .main_header_usernamelist_name Kayo Morita
    .main_header_edit-btn Edit
  .messages
    =render @messages 
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'new_message_typing', placeholder: 'type a message'
      .new_message_box
        = f.label :image, class: 'new_message_box_image' do
          = icon('far', 'image', class: 'new_message_box_icon')
          = f.file_field :image, class: 'new_message_box_image_file'
      = f.submit 'Send', class: 'submit-btn'